#uploads {
    background-color: #D8B8A0;
}

.file_upload_container {
    background: rgba(192, 151, 148, 0.49);
    border: 1px solid #000000;
    height: 50px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: black;
    display: inline-block;
	cursor: pointer; 
    width: 100%; /* to make entire row clickable */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.upload-label {
    padding-top: .6em;
    padding-left: .75em;
}

.upload-label span {
    top: .5em;
}

.upload-label span img {
    width: 25px;
    height: auto;
}

.must-signin-popup-container {
    position: fixed;
    z-index: 100000;
    background-color: rgba(192, 151, 148, 0.49);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.must-signin-popup-container > div {
    background-color: #D8B8A0;
    width: 28rem;
    height: 15.5rem;
}

.must-signin-popup-container .close-btn {
    height: 1.2rem;
    width: 1.2rem;
    right: 1em;
    top: 1em;
}