#goals_tasks {
    background-color: rgba(97, 129, 133, 0.16);    
}

.goals-tasks-container {
    max-width: 80em;
}


/* Calendar */
.calendar-container {
    background-color: #85A9AE;
}

.calendar-events {
    background-color: #759EA5;
}

.calendar-event-container:last-of-type {
    border-bottom: none;
}

.calendar-event-container .calendar-event-icon-container {
    height: 50px;
    width: 50px;
    /* left: 10px; */
    background-color: #E5E1E1;
    border-radius: 50%;
}

.calendar-event-container .calendar-event-icon-container img {
    width: 30px;
    height: 30px;
    left: 10px;
}

.fc-daygrid-day {
    cursor: pointer;
}

.fc .fc-button-primary, .fc .fc-button-primary:disabled, .fc .fc-button-primary:hover, .fc .fc-button-primary:disabled:hover {
    border-color: white;
}

.fc .fc-button-primary:not(:disabled):active {
    background-color: transparent;
}

/* Add Calendar Event Pop Up */
.add-calendar-event-popup-container {
    position: fixed;
    z-index: 100000;
    background-color: rgba(97, 129, 133, 0.16);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.add-calendar-event-popup-container > form {
    background-color: #d0d2d2;
    width: 28rem;
    height: 22rem;
}


/* Tasks */
.tasks-container {
    max-width: 650px;
    width: 70%;
}

#task-table {
    color: #FFFFFF;
}

.num_tasks img{
    position: relative;
    height: 30px;
    bottom: 4px;
}

#task-table thead tr th{
    background-color: #965151;
}

#task-table tbody tr {
    background-color: #C98F8F;
}

#task-table .task-border {
    border-color: #FFFFFF;
}

#task-table .lh-copy tr:last-of-type.task-border {
    border: none;
}

.task-cell {
    width: calc(100% -  2rem);
}

.check-box {
    width: 2rem;
}

.task-row:hover td button {
    visibility: visible;
}

.task-row td button {
    visibility: hidden;
}

.check-mark  {
    display: inline-block;
    background-color: transparent;
    border: none;
    position: relative;
    width: 30px;
    height: 30px;
    right: 1em;
    top: .5em;
    padding: 0;
    cursor: pointer;
}

.check-box button img {
    width: 100%;
}


/* Add Task Pop Up */
.add-task-popup-container {
    position: fixed;
    z-index: 100000;
    background-color: rgba(97, 129, 133, 0.16);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.add-task-popup-container > form {
    background-color: #d0d2d2;
    width: 28rem;
    height: 22rem;
}