#goals_tasks {
    background-color: rgba(97, 129, 133, 0.16);    
}

.goals-tasks-container {
    max-width: 80em;
}

.calendar-container {
    background-color: #85A9AE;
}

.calendar-events {
    background-color: #759EA5;
}

.calendar-event-container:last-of-type {
    border-bottom: none;
}

.calendar-event-container .calendar-event-icon-container {
    height: 50px;
    width: 50px;
    /* left: 10px; */
    background-color: #E5E1E1;
    border-radius: 50%;
}
.calendar-event-container .calendar-event-icon-container img {
    width: 30px;
    height: 30px;
    left: 10px;
}



.tasks-container {
    max-width: 650px;
    width: 70%;
}

#task-table {
    color: #FFFFFF;
}
/* .num_tasks {
} */

.num_tasks img{
    height: 30px;
}

#task-table thead tr th{
    background-color: #965151;
}

#task-table tbody tr {
    background-color: #C98F8F;
}

#task-table .task-border {
    border-color: #FFFFFF;
}
/* 
.task-border:last-of-type {
    border-bottom: none;
} */

#task-table .lh-copy tr:last-of-type .task-border {
    border: none;
}