@media screen and (min-width: 30em) and (max-width: 60em) {
    .add-button {
        right: 2rem;

    }
}

.add-button {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 25px;
    border: 0;
    font-size: 2rem;
    padding: 0px;
}

.add-button:focus {
    outline: 0;
}

.add-button img {
    width: 100%;
}