#experiences {
    background-color: rgba(133, 144, 179, 0.42);
}

.experience {
    /* flex-; */
    width: 450px;
    max-width: 100%;
}

.experience span {
    /* height: 1rem; */
    width: 1rem;
    bottom: -1px;
    cursor: pointer;
}

.experience span img {
    height: 1rem;

}

.experience > img {
    width: 40px;
    /* width: 1em; */
    /* height: 1em; */
    border-radius: 25px;
    border: 1px solid black;
    background-color: #DED0D0;
    top: 2.2rem;
    right: -1.6rem;
}

.add-experience-popup textarea {
    background-color: rgba(121, 127, 171, 0.29);
    min-height: 200px;
}