#experiences {
    background-color: rgba(133, 144, 179, 0.42);
}

/*Experience Card */
.experience {
    width: 450px;
    max-width: 100%;
}

.experience > img {
    width: 40px;
    /* width: 1em; */
    /* height: 1em; */
    border-radius: 25px;
    border: 1px solid black;
    background-color: #DED0D0;
    top: 2.2rem;
    right: -1.6rem;
}

.experience span {
    width: 1rem;
    bottom: -1px;
    cursor: pointer;
}

.experience span img {
    height: 1rem;
}


/* Add Experience Pop Up */
.add-experience-popup-container {
    position: fixed;
    z-index: 100000;
    background-color: rgba(133, 144, 179, 0.42);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.add-experience-popup-container form {
    background-color: #BDBFCD;
}

.add-experience-popup-container form textarea {
    background: rgba(121, 127, 171, 0.29);
    min-height: 200px;
    width: 28rem;
}


/* Edit Experience Pop Up */
.edit-experience-popup-container {
    position: fixed;
    z-index: 100000;
    background-color: rgba(133, 144, 179, 0.42);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.edit-experience-popup-container form {
    background-color: #BDBFCD;
}

.edit-experience-popup-container form textarea {
    background: rgba(121, 127, 171, 0.29);
    min-height: 200px;
    width: 28rem;
}