.publication {
    width: 300px;
    height: 350px;
    max-width: 100%;
}

.publication > img {
    height: 30px;
    bottom: 1em;
    right: 1em;
}


.add-publication-popup select {
    background-color: rgba(202, 125, 125, 0.16);
    height: 40px;
}


.research-pub {
    background-color: #DED0D0;
}

.abstract-pub {
    background-color: #CB8E91;
}

.presentation-pub {
    background-color: rgba(164, 66, 0, 0.63);
}