#account {
    min-height: calc(100vh - 80px);
}

.account-container input[type=text]{
    background-color: rgba(97, 129, 133, 0.16);
    width: 70%;
}

.account-container .edit-btn {
    background-color: transparent;
    border: none;
    position: relative;
    width: 1.2em;
    display: inline-block;
    top: .3em;
    padding: 0;
}

.account-container select {
    background-color: rgba(202, 125, 125, 0.16);
    width: 70%;
    height: 40px;
}