.account-container input[type=text]{
    background-color: rgba(97, 129, 133, 0.16);
    width: 70%;
}

.account-container .edit-btn-container {
    width: 1rem;
    bottom: -3px;
    cursor: pointer;
}

.account-container .edit-btn-container img {
    height: 1.2rem;
}