header {
    background-color: #743939;
    height: 80px;
    z-index: 1000;
}

nav a.account-icon:last-of-type, .home-icon {
    position: relative;
    top: -4px;
    margin-left: 20px;
}

nav > a:last-of-type {
    position: relative;
    margin-left: 20px;
}

nav a.active {
    opacity: .5;
}

.account-icon {
    top: -4px;
}

.signin-icon {
    top: -9px;
}

nav img {
    height: 25px;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
;}

.nav-popup {
    display: block;
    color: black;
    position: absolute;
    width: 150px;
    background-color: white;
    top: 70px;
    right: 2.75em;
    font-size: 0.75rem;
    margin: auto;
}

.nav-popup .nav-arrow {
    border-style: solid;
    border-width: 9px;
    border-color: transparent;
    border-top-width: 0;
    border-bottom: 9px solid white;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: -9px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-popup button {
    filter: brightness(0);
    height: 2.25em;
    right: .2em;
    top: .2em;
    position: absolute;
    padding: .65em;
}