header {
    background-color: #743939;
    height: 80px;
    z-index: 1000;
}

nav a.account-icon:last-of-type {
    position: relative;
    top: -4px;
    margin-left: 20px;
}

nav a:last-of-type {
    position: relative;
    margin-left: 20px;
}

nav a.active {
    opacity: .5;
}

.account-icon {
    top: -4px;
}

.signup-icon {
    top: -9px;
}

nav img {
    height: 25px;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
;}