.login-signup-container input[type=submit] {
    background-color: #B47B7B;
    width: 100px;
    height: 40px;
    border: none;
}

.login-signup-container {
    min-height: calc(100vh - 160px - 16rem + 80px);
}

.login-signup-container select {
    background-color: rgba(202, 125, 125, 0.16);
    height: 40px;
}