@import url('https://fonts.googleapis.com/css2?family=Scope+One&display=swap');

body {
  margin: 0;
  font-family: 'Scope One', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E5E1E1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


section {
  position: relative;
  /* top: 100px; */
}

section > h1 {
  border-left: 2px solid black;
  font-size: 3rem;
}